modules = ["nodejs-20"]

run = "node server/server.js"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "node server/server.js"]

[agent]
expertMode = true
